table {
    width: 100%;
 }
 cdk-virtual-scroll-viewport {
    height: 270px;
 }

 .cdk-scroll-viewport {
   height: 200px;
   width: 200px;
   border: 1px solid black;
 }

 .cdk-scroll-item {
   height: 22px;
 }

 table thead tr {
   font-size: 18px;
 }